* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

button {
    width: fit-content;
    
    padding: 2vh 3vw;
    
    outline: none;
    border: 1px solid #0A3871;
    border-radius: 20px;
    
    text-align: center;
    color: #0A3871;

    cursor: pointer;
    user-select: none;
}

button.main {
    border: none;

    color: #fff;
    background-color: #0A3871;
}

button:hover {
    filter: brightness(90%);
}
button:active {
    filter: brightness(105%);
}

/* HEADER */

header {
    padding: 2vh 2vw;
    color: #0A3871;
}

/* FOOTER */

footer {
    margin-top: 6vh;

    padding: 2vh 2vw;

    box-shadow: 0px -24px 32px -8px rgba(0, 0, 0, 0.08);
}

footer p {
    display: inline;
    vertical-align: middle;

    color: rgb(77, 77, 77);
}

footer img {
    width: 2em;
    height: 2em;
    margin-left: 1vw;

    vertical-align:middle;
    user-select: none;
}