* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

button {
    width: fit-content;
    
    padding: 2vh 3vw;
    
    outline: none;
    border: 1px solid #0A3871;
    border-radius: 20px;
    
    text-align: center;
    color: #0A3871;

    cursor: pointer;
    user-select: none;
}

button.main {
    border: none;

    color: #fff;
    background-color: #0A3871;
}

button:hover {
    filter: brightness(90%);
}
button:active {
    filter: brightness(105%);
}

/* HEADER */

header {
    padding: 2vh 2vw;
    color: #0A3871;
}